/* if you have it installed via NPM & a CSS loader configured */
@import "@catppuccin/palette/css/catppuccin.css";

:root {
    --ctp-accent: var(--ctp-mauve);

    --ctp-shadow: #11111b;
    --ctp-highlight: #cdd6f4;
    --ctp-shadow-rgb: 0, 0, 0;
    --ctp-highlight-rgb: 255, 255, 255;
}

:root {
    --ctp-light-rosewater: var(--ctp-latte-rosewater);
    --ctp-light-rosewater-rgb: var(--ctp-latte-rosewater-rgb);
    --ctp-light-rosewater-hsl: var(--ctp-latte-rosewater-hsl);
    --ctp-light-flamingo: var(--ctp-latte-flamingo);
    --ctp-light-flamingo-rgb: var(--ctp-latte-flamingo-rgb);
    --ctp-light-flamingo-hsl: var(--ctp-latte-flamingo-hsl);
    --ctp-light-pink: var(--ctp-latte-pink);
    --ctp-light-pink-rgb: var(--ctp-latte-pink-rgb);
    --ctp-light-pink-hsl: var(--ctp-latte-pink-hsl);
    --ctp-light-mauve: var(--ctp-latte-mauve);
    --ctp-light-mauve-rgb: var(--ctp-latte-mauve-rgb);
    --ctp-light-mauve-hsl: var(--ctp-latte-mauve-hsl);
    --ctp-light-red: var(--ctp-latte-red);
    --ctp-light-red-rgb: var(--ctp-latte-red-rgb);
    --ctp-light-red-hsl: var(--ctp-latte-red-hsl);
    --ctp-light-maroon: var(--ctp-latte-maroon);
    --ctp-light-maroon-rgb: var(--ctp-latte-maroon-rgb);
    --ctp-light-maroon-hsl: var(--ctp-latte-maroon-hsl);
    --ctp-light-peach: var(--ctp-latte-peach);
    --ctp-light-peach-rgb: var(--ctp-latte-peach-rgb);
    --ctp-light-peach-hsl: var(--ctp-latte-peach-hsl);
    --ctp-light-yellow: var(--ctp-latte-yellow);
    --ctp-light-yellow-rgb: var(--ctp-latte-yellow-rgb);
    --ctp-light-yellow-hsl: var(--ctp-latte-yellow-hsl);
    --ctp-light-green: var(--ctp-latte-green);
    --ctp-light-green-rgb: var(--ctp-latte-green-rgb);
    --ctp-light-green-hsl: var(--ctp-latte-green-hsl);
    --ctp-light-teal: var(--ctp-latte-teal);
    --ctp-light-teal-rgb: var(--ctp-latte-teal-rgb);
    --ctp-light-teal-hsl: var(--ctp-latte-teal-hsl);
    --ctp-light-sky: var(--ctp-latte-sky);
    --ctp-light-sky-rgb: var(--ctp-latte-sky-rgb);
    --ctp-light-sky-hsl: var(--ctp-latte-sky-hsl);
    --ctp-light-sapphire: var(--ctp-latte-sapphire);
    --ctp-light-sapphire-rgb: var(--ctp-latte-sapphire-rgb);
    --ctp-light-sapphire-hsl: var(--ctp-latte-sapphire-hsl);
    --ctp-light-blue: var(--ctp-latte-blue);
    --ctp-light-blue-rgb: var(--ctp-latte-blue-rgb);
    --ctp-light-blue-hsl: var(--ctp-latte-blue-hsl);
    --ctp-light-lavender: var(--ctp-latte-lavender);
    --ctp-light-lavender-rgb: var(--ctp-latte-lavender-rgb);
    --ctp-light-lavender-hsl: var(--ctp-latte-lavender-hsl);
    --ctp-light-text: var(--ctp-latte-text);
    --ctp-light-text-rgb: var(--ctp-latte-text-rgb);
    --ctp-light-text-hsl: var(--ctp-latte-text-hsl);
    --ctp-light-subtext1: var(--ctp-latte-subtext1);
    --ctp-light-subtext1-rgb: var(--ctp-latte-subtext1-rgb);
    --ctp-light-subtext1-hsl: var(--ctp-latte-subtext1-hsl);
    --ctp-light-subtext0: var(--ctp-latte-subtext0);
    --ctp-light-subtext0-rgb: var(--ctp-latte-subtext0-rgb);
    --ctp-light-subtext0-hsl: var(--ctp-latte-subtext0-hsl);
    --ctp-light-overlay2: var(--ctp-latte-overlay2);
    --ctp-light-overlay2-rgb: var(--ctp-latte-overlay2-rgb);
    --ctp-light-overlay2-hsl: var(--ctp-latte-overlay2-hsl);
    --ctp-light-overlay1: var(--ctp-latte-overlay1);
    --ctp-light-overlay1-rgb: var(--ctp-latte-overlay1-rgb);
    --ctp-light-overlay1-hsl: var(--ctp-latte-overlay1-hsl);
    --ctp-light-overlay0: var(--ctp-latte-overlay0);
    --ctp-light-overlay0-rgb: var(--ctp-latte-overlay0-rgb);
    --ctp-light-overlay0-hsl: var(--ctp-latte-overlay0-hsl);
    --ctp-light-surface2: var(--ctp-latte-surface2);
    --ctp-light-surface2-rgb: var(--ctp-latte-surface2-rgb);
    --ctp-light-surface2-hsl: var(--ctp-latte-surface2-hsl);
    --ctp-light-surface1: var(--ctp-latte-surface1);
    --ctp-light-surface1-rgb: var(--ctp-latte-surface1-rgb);
    --ctp-light-surface1-hsl: var(--ctp-latte-surface1-hsl);
    --ctp-light-surface0: var(--ctp-latte-surface0);
    --ctp-light-surface0-rgb: var(--ctp-latte-surface0-rgb);
    --ctp-light-surface0-hsl: var(--ctp-latte-surface0-hsl);
    --ctp-light-base: var(--ctp-latte-base);
    --ctp-light-base-rgb: var(--ctp-latte-base-rgb);
    --ctp-light-base-hsl: var(--ctp-latte-base-hsl);
    --ctp-light-mantle: var(--ctp-latte-mantle);
    --ctp-light-mantle-rgb: var(--ctp-latte-mantle-rgb);
    --ctp-light-mantle-hsl: var(--ctp-latte-mantle-hsl);
    --ctp-light-crust: var(--ctp-latte-crust);
    --ctp-light-crust-rgb: var(--ctp-latte-crust-rgb);
    --ctp-light-crust-hsl: var(--ctp-latte-crust-hsl);

    --ctp-dark-rosewater: var(--ctp-mocha-rosewater);
    --ctp-dark-rosewater-rgb: var(--ctp-mocha-rosewater-rgb);
    --ctp-dark-rosewater-hsl: var(--ctp-mocha-rosewater-hsl);
    --ctp-dark-flamingo: var(--ctp-mocha-flamingo);
    --ctp-dark-flamingo-rgb: var(--ctp-mocha-flamingo-rgb);
    --ctp-dark-flamingo-hsl: var(--ctp-mocha-flamingo-hsl);
    --ctp-dark-pink: var(--ctp-mocha-pink);
    --ctp-dark-pink-rgb: var(--ctp-mocha-pink-rgb);
    --ctp-dark-pink-hsl: var(--ctp-mocha-pink-hsl);
    --ctp-dark-mauve: var(--ctp-mocha-mauve);
    --ctp-dark-mauve-rgb: var(--ctp-mocha-mauve-rgb);
    --ctp-dark-mauve-hsl: var(--ctp-mocha-mauve-hsl);
    --ctp-dark-red: var(--ctp-mocha-red);
    --ctp-dark-red-rgb: var(--ctp-mocha-red-rgb);
    --ctp-dark-red-hsl: var(--ctp-mocha-red-hsl);
    --ctp-dark-maroon: var(--ctp-mocha-maroon);
    --ctp-dark-maroon-rgb: var(--ctp-mocha-maroon-rgb);
    --ctp-dark-maroon-hsl: var(--ctp-mocha-maroon-hsl);
    --ctp-dark-peach: var(--ctp-mocha-peach);
    --ctp-dark-peach-rgb: var(--ctp-mocha-peach-rgb);
    --ctp-dark-peach-hsl: var(--ctp-mocha-peach-hsl);
    --ctp-dark-yellow: var(--ctp-mocha-yellow);
    --ctp-dark-yellow-rgb: var(--ctp-mocha-yellow-rgb);
    --ctp-dark-yellow-hsl: var(--ctp-mocha-yellow-hsl);
    --ctp-dark-green: var(--ctp-mocha-green);
    --ctp-dark-green-rgb: var(--ctp-mocha-green-rgb);
    --ctp-dark-green-hsl: var(--ctp-mocha-green-hsl);
    --ctp-dark-teal: var(--ctp-mocha-teal);
    --ctp-dark-teal-rgb: var(--ctp-mocha-teal-rgb);
    --ctp-dark-teal-hsl: var(--ctp-mocha-teal-hsl);
    --ctp-dark-sky: var(--ctp-mocha-sky);
    --ctp-dark-sky-rgb: var(--ctp-mocha-sky-rgb);
    --ctp-dark-sky-hsl: var(--ctp-mocha-sky-hsl);
    --ctp-dark-sapphire: var(--ctp-mocha-sapphire);
    --ctp-dark-sapphire-rgb: var(--ctp-mocha-sapphire-rgb);
    --ctp-dark-sapphire-hsl: var(--ctp-mocha-sapphire-hsl);
    --ctp-dark-blue: var(--ctp-mocha-blue);
    --ctp-dark-blue-rgb: var(--ctp-mocha-blue-rgb);
    --ctp-dark-blue-hsl: var(--ctp-mocha-blue-hsl);
    --ctp-dark-lavender: var(--ctp-mocha-lavender);
    --ctp-dark-lavender-rgb: var(--ctp-mocha-lavender-rgb);
    --ctp-dark-lavender-hsl: var(--ctp-mocha-lavender-hsl);
    --ctp-dark-text: var(--ctp-mocha-text);
    --ctp-dark-text-rgb: var(--ctp-mocha-text-rgb);
    --ctp-dark-text-hsl: var(--ctp-mocha-text-hsl);
    --ctp-dark-subtext1: var(--ctp-mocha-subtext1);
    --ctp-dark-subtext1-rgb: var(--ctp-mocha-subtext1-rgb);
    --ctp-dark-subtext1-hsl: var(--ctp-mocha-subtext1-hsl);
    --ctp-dark-subtext0: var(--ctp-mocha-subtext0);
    --ctp-dark-subtext0-rgb: var(--ctp-mocha-subtext0-rgb);
    --ctp-dark-subtext0-hsl: var(--ctp-mocha-subtext0-hsl);
    --ctp-dark-overlay2: var(--ctp-mocha-overlay2);
    --ctp-dark-overlay2-rgb: var(--ctp-mocha-overlay2-rgb);
    --ctp-dark-overlay2-hsl: var(--ctp-mocha-overlay2-hsl);
    --ctp-dark-overlay1: var(--ctp-mocha-overlay1);
    --ctp-dark-overlay1-rgb: var(--ctp-mocha-overlay1-rgb);
    --ctp-dark-overlay1-hsl: var(--ctp-mocha-overlay1-hsl);
    --ctp-dark-overlay0: var(--ctp-mocha-overlay0);
    --ctp-dark-overlay0-rgb: var(--ctp-mocha-overlay0-rgb);
    --ctp-dark-overlay0-hsl: var(--ctp-mocha-overlay0-hsl);
    --ctp-dark-surface2: var(--ctp-mocha-surface2);
    --ctp-dark-surface2-rgb: var(--ctp-mocha-surface2-rgb);
    --ctp-dark-surface2-hsl: var(--ctp-mocha-surface2-hsl);
    --ctp-dark-surface1: var(--ctp-mocha-surface1);
    --ctp-dark-surface1-rgb: var(--ctp-mocha-surface1-rgb);
    --ctp-dark-surface1-hsl: var(--ctp-mocha-surface1-hsl);
    --ctp-dark-surface0: var(--ctp-mocha-surface0);
    --ctp-dark-surface0-rgb: var(--ctp-mocha-surface0-rgb);
    --ctp-dark-surface0-hsl: var(--ctp-mocha-surface0-hsl);
    --ctp-dark-base: var(--ctp-mocha-base);
    --ctp-dark-base-rgb: var(--ctp-mocha-base-rgb);
    --ctp-dark-base-hsl: var(--ctp-mocha-base-hsl);
    --ctp-dark-mantle: var(--ctp-mocha-mantle);
    --ctp-dark-mantle-rgb: var(--ctp-mocha-mantle-rgb);
    --ctp-dark-mantle-hsl: var(--ctp-mocha-mantle-hsl);
    --ctp-dark-crust: var(--ctp-mocha-crust);
    --ctp-dark-crust-rgb: var(--ctp-mocha-crust-rgb);
    --ctp-dark-crust-hsl: var(--ctp-mocha-crust-hsl);
}

@media (prefers-color-scheme: light) {
    :root {
        --ctp-rosewater: var(--ctp-light-rosewater);
        --ctp-rosewater-rgb: var(--ctp-light-rosewater-rgb);
        --ctp-rosewater-hsl: var(--ctp-light-rosewater-hsl);
        --ctp-flamingo: var(--ctp-light-flamingo);
        --ctp-flamingo-rgb: var(--ctp-light-flamingo-rgb);
        --ctp-flamingo-hsl: var(--ctp-light-flamingo-hsl);
        --ctp-pink: var(--ctp-light-pink);
        --ctp-pink-rgb: var(--ctp-light-pink-rgb);
        --ctp-pink-hsl: var(--ctp-light-pink-hsl);
        --ctp-mauve: var(--ctp-light-mauve);
        --ctp-mauve-rgb: var(--ctp-light-mauve-rgb);
        --ctp-mauve-hsl: var(--ctp-light-mauve-hsl);
        --ctp-red: var(--ctp-light-red);
        --ctp-red-rgb: var(--ctp-light-red-rgb);
        --ctp-red-hsl: var(--ctp-light-red-hsl);
        --ctp-maroon: var(--ctp-light-maroon);
        --ctp-maroon-rgb: var(--ctp-light-maroon-rgb);
        --ctp-maroon-hsl: var(--ctp-light-maroon-hsl);
        --ctp-peach: var(--ctp-light-peach);
        --ctp-peach-rgb: var(--ctp-light-peach-rgb);
        --ctp-peach-hsl: var(--ctp-light-peach-hsl);
        --ctp-yellow: var(--ctp-light-yellow);
        --ctp-yellow-rgb: var(--ctp-light-yellow-rgb);
        --ctp-yellow-hsl: var(--ctp-light-yellow-hsl);
        --ctp-green: var(--ctp-light-green);
        --ctp-green-rgb: var(--ctp-light-green-rgb);
        --ctp-green-hsl: var(--ctp-light-green-hsl);
        --ctp-teal: var(--ctp-light-teal);
        --ctp-teal-rgb: var(--ctp-light-teal-rgb);
        --ctp-teal-hsl: var(--ctp-light-teal-hsl);
        --ctp-sky: var(--ctp-light-sky);
        --ctp-sky-rgb: var(--ctp-light-sky-rgb);
        --ctp-sky-hsl: var(--ctp-light-sky-hsl);
        --ctp-sapphire: var(--ctp-light-sapphire);
        --ctp-sapphire-rgb: var(--ctp-light-sapphire-rgb);
        --ctp-sapphire-hsl: var(--ctp-light-sapphire-hsl);
        --ctp-blue: var(--ctp-light-blue);
        --ctp-blue-rgb: var(--ctp-light-blue-rgb);
        --ctp-blue-hsl: var(--ctp-light-blue-hsl);
        --ctp-lavender: var(--ctp-light-lavender);
        --ctp-lavender-rgb: var(--ctp-light-lavender-rgb);
        --ctp-lavender-hsl: var(--ctp-light-lavender-hsl);
        --ctp-text: var(--ctp-light-text);
        --ctp-text-rgb: var(--ctp-light-text-rgb);
        --ctp-text-hsl: var(--ctp-light-text-hsl);
        --ctp-subtext1: var(--ctp-light-subtext1);
        --ctp-subtext1-rgb: var(--ctp-light-subtext1-rgb);
        --ctp-subtext1-hsl: var(--ctp-light-subtext1-hsl);
        --ctp-subtext0: var(--ctp-light-subtext0);
        --ctp-subtext0-rgb: var(--ctp-light-subtext0-rgb);
        --ctp-subtext0-hsl: var(--ctp-light-subtext0-hsl);
        --ctp-overlay2: var(--ctp-light-overlay2);
        --ctp-overlay2-rgb: var(--ctp-light-overlay2-rgb);
        --ctp-overlay2-hsl: var(--ctp-light-overlay2-hsl);
        --ctp-overlay1: var(--ctp-light-overlay1);
        --ctp-overlay1-rgb: var(--ctp-light-overlay1-rgb);
        --ctp-overlay1-hsl: var(--ctp-light-overlay1-hsl);
        --ctp-overlay0: var(--ctp-light-overlay0);
        --ctp-overlay0-rgb: var(--ctp-light-overlay0-rgb);
        --ctp-overlay0-hsl: var(--ctp-light-overlay0-hsl);
        --ctp-surface2: var(--ctp-light-surface2);
        --ctp-surface2-rgb: var(--ctp-light-surface2-rgb);
        --ctp-surface2-hsl: var(--ctp-light-surface2-hsl);
        --ctp-surface1: var(--ctp-light-surface1);
        --ctp-surface1-rgb: var(--ctp-light-surface1-rgb);
        --ctp-surface1-hsl: var(--ctp-light-surface1-hsl);
        --ctp-surface0: var(--ctp-light-surface0);
        --ctp-surface0-rgb: var(--ctp-light-surface0-rgb);
        --ctp-surface0-hsl: var(--ctp-light-surface0-hsl);
        --ctp-base: var(--ctp-light-base);
        --ctp-base-rgb: var(--ctp-light-base-rgb);
        --ctp-base-hsl: var(--ctp-light-base-hsl);
        --ctp-mantle: var(--ctp-light-mantle);
        --ctp-mantle-rgb: var(--ctp-light-mantle-rgb);
        --ctp-mantle-hsl: var(--ctp-light-mantle-hsl);
        --ctp-crust: var(--ctp-light-crust);
        --ctp-crust-rgb: var(--ctp-light-crust-rgb);
        --ctp-crust-hsl: var(--ctp-light-crust-hsl);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --ctp-rosewater: var(--ctp-dark-rosewater);
        --ctp-rosewater-rgb: var(--ctp-dark-rosewater-rgb);
        --ctp-rosewater-hsl: var(--ctp-dark-rosewater-hsl);
        --ctp-flamingo: var(--ctp-dark-flamingo);
        --ctp-flamingo-rgb: var(--ctp-dark-flamingo-rgb);
        --ctp-flamingo-hsl: var(--ctp-dark-flamingo-hsl);
        --ctp-pink: var(--ctp-dark-pink);
        --ctp-pink-rgb: var(--ctp-dark-pink-rgb);
        --ctp-pink-hsl: var(--ctp-dark-pink-hsl);
        --ctp-mauve: var(--ctp-dark-mauve);
        --ctp-mauve-rgb: var(--ctp-dark-mauve-rgb);
        --ctp-mauve-hsl: var(--ctp-dark-mauve-hsl);
        --ctp-red: var(--ctp-dark-red);
        --ctp-red-rgb: var(--ctp-dark-red-rgb);
        --ctp-red-hsl: var(--ctp-dark-red-hsl);
        --ctp-maroon: var(--ctp-dark-maroon);
        --ctp-maroon-rgb: var(--ctp-dark-maroon-rgb);
        --ctp-maroon-hsl: var(--ctp-dark-maroon-hsl);
        --ctp-peach: var(--ctp-dark-peach);
        --ctp-peach-rgb: var(--ctp-dark-peach-rgb);
        --ctp-peach-hsl: var(--ctp-dark-peach-hsl);
        --ctp-yellow: var(--ctp-dark-yellow);
        --ctp-yellow-rgb: var(--ctp-dark-yellow-rgb);
        --ctp-yellow-hsl: var(--ctp-dark-yellow-hsl);
        --ctp-green: var(--ctp-dark-green);
        --ctp-green-rgb: var(--ctp-dark-green-rgb);
        --ctp-green-hsl: var(--ctp-dark-green-hsl);
        --ctp-teal: var(--ctp-dark-teal);
        --ctp-teal-rgb: var(--ctp-dark-teal-rgb);
        --ctp-teal-hsl: var(--ctp-dark-teal-hsl);
        --ctp-sky: var(--ctp-dark-sky);
        --ctp-sky-rgb: var(--ctp-dark-sky-rgb);
        --ctp-sky-hsl: var(--ctp-dark-sky-hsl);
        --ctp-sapphire: var(--ctp-dark-sapphire);
        --ctp-sapphire-rgb: var(--ctp-dark-sapphire-rgb);
        --ctp-sapphire-hsl: var(--ctp-dark-sapphire-hsl);
        --ctp-blue: var(--ctp-dark-blue);
        --ctp-blue-rgb: var(--ctp-dark-blue-rgb);
        --ctp-blue-hsl: var(--ctp-dark-blue-hsl);
        --ctp-lavender: var(--ctp-dark-lavender);
        --ctp-lavender-rgb: var(--ctp-dark-lavender-rgb);
        --ctp-lavender-hsl: var(--ctp-dark-lavender-hsl);
        --ctp-text: var(--ctp-dark-text);
        --ctp-text-rgb: var(--ctp-dark-text-rgb);
        --ctp-text-hsl: var(--ctp-dark-text-hsl);
        --ctp-subtext1: var(--ctp-dark-subtext1);
        --ctp-subtext1-rgb: var(--ctp-dark-subtext1-rgb);
        --ctp-subtext1-hsl: var(--ctp-dark-subtext1-hsl);
        --ctp-subtext0: var(--ctp-dark-subtext0);
        --ctp-subtext0-rgb: var(--ctp-dark-subtext0-rgb);
        --ctp-subtext0-hsl: var(--ctp-dark-subtext0-hsl);
        --ctp-overlay2: var(--ctp-dark-overlay2);
        --ctp-overlay2-rgb: var(--ctp-dark-overlay2-rgb);
        --ctp-overlay2-hsl: var(--ctp-dark-overlay2-hsl);
        --ctp-overlay1: var(--ctp-dark-overlay1);
        --ctp-overlay1-rgb: var(--ctp-dark-overlay1-rgb);
        --ctp-overlay1-hsl: var(--ctp-dark-overlay1-hsl);
        --ctp-overlay0: var(--ctp-dark-overlay0);
        --ctp-overlay0-rgb: var(--ctp-dark-overlay0-rgb);
        --ctp-overlay0-hsl: var(--ctp-dark-overlay0-hsl);
        --ctp-surface2: var(--ctp-dark-surface2);
        --ctp-surface2-rgb: var(--ctp-dark-surface2-rgb);
        --ctp-surface2-hsl: var(--ctp-dark-surface2-hsl);
        --ctp-surface1: var(--ctp-dark-surface1);
        --ctp-surface1-rgb: var(--ctp-dark-surface1-rgb);
        --ctp-surface1-hsl: var(--ctp-dark-surface1-hsl);
        --ctp-surface0: var(--ctp-dark-surface0);
        --ctp-surface0-rgb: var(--ctp-dark-surface0-rgb);
        --ctp-surface0-hsl: var(--ctp-dark-surface0-hsl);
        --ctp-base: var(--ctp-dark-base);
        --ctp-base-rgb: var(--ctp-dark-base-rgb);
        --ctp-base-hsl: var(--ctp-dark-base-hsl);
        --ctp-mantle: var(--ctp-dark-mantle);
        --ctp-mantle-rgb: var(--ctp-dark-mantle-rgb);
        --ctp-mantle-hsl: var(--ctp-dark-mantle-hsl);
        --ctp-crust: var(--ctp-dark-crust);
        --ctp-crust-rgb: var(--ctp-dark-crust-rgb);
        --ctp-crust-hsl: var(--ctp-dark-crust-hsl);
    }
}
