---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <article>
    <h2>My awesome blog</h2>
    <p>Not sure what to put here.</p>
  </article>
</BaseLayout>
